* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    cursor: pointer;
     background-image: url(Images/sidebar.jpg);
  
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #004d66;

    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar .brand {
    margin-bottom: 30px;
    font-weight: 700;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.sidebar ul li a:hover {
    color: #00cc99;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 240px;
    width: 100%;
}

/* HEADER */
header {
    padding: 20px;
    background-color: #004d66;
    color: white;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
    size: 10%;
    background:transparent;

}

/* HERO */
.hero {
    
    background-size: cover;
    background-position: center;
    background-color: #f4f4f4;
    padding: 100px 40px;
    color: white;
}

.hero-text {
    background-color: rgba(0,0,0,0.6);
    padding: 30px;
    max-width: 600px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #00cc99;
    color: white;
}

.btn:hover {
    background-color:#004d66;
}

/* SECTIONS */
.section {
    padding: 60px 40px;
}

.light {
    background-color: #f4f4f4;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    flex: 1 1 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    color: #004d66;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #004d66;
    color: white;
    border: none;
    cursor: pointer;
}

.card button:hover {
    background-color: #00cc99;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #003d4d;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    body {
        flex-direction: column;
        
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .main-content {
        margin-left: 0;
    }

    .cards {
        flex-direction: column;
    }

    .hero {
        padding: 60px 20px;
    }
}